/* Full height image header */
            .bgimg-1 {
                background-position: center;
                background-size: cover;
                background-image:"/img/";
                min-height: 100%;
            }
            .w3-bar .w3-button {
                padding: 16px;
            }